h1 {
  font-weight: 700;
}

.ola h1{
  font-weight: 300;
}


h5{
  font-weight: 300;
}


p{
   font-size: 10px;
}

.ajustes{
  padding-top: 60px;
  padding-bottom: 20px;
}


.ajustes2{
  padding-bottom: 20px;
}


.alterar p{
  padding-left: 27px;
}


.mapa p{
  padding-left: 35px;
}


img.displayed {
  margin: 115px 75px 75px 75px;
 }


a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--medium);
  font-weight: 400;
}

.block {
  margin-bottom: 120px;
  margin-top: 35px;
}

label.ajuste{
  padding-left: 10px;
}


.button {
  text-transform: lowercase;
  font-weight: 500;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.button-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.button-primary-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primary-outline:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}